<div
  #rangeDropdown="bs-dropdown"
  dropdown
  class="dropdown"
  [insideClick]="true"
>
  <button id="currentTimeFrame" dropdownToggle class="btn btn-default btn-sm">
    {{ model.fromDate | date : 'short' }} — {{ model.toDate | date : 'short' }}
    <span class="caret m-r-8"></span>
  </button>

  <div class="dropdown-menu">
    <div class="dropdown-menu-item p-16 bg-level-1">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
        class="form-group-sm"
      ></formly-form>

      <button
        class="btn btn-primary fit-w"
        (click)="rangeDropdown.hide(); applyDatetimeContext()"
        [disabled]="
          disabled || (form.pristine && form.untouched) || form.invalid
        "
        title="{{ 'Apply' | translate }}"
        type="button"
        translate
      >
        Apply
      </button>
    </div>
  </div>
</div>
