<div [formGroup]="formGroup">
  <c8y-form-group>
    <label translate>Label</label>
    <input
      class="form-control"
      name="label"
      formControlName="label"
      [placeholder]="
        'e.g. {{ example }}' | translate : { example: 'c8y_LocationUpdate' }
      "
    />
  </c8y-form-group>

  <c8y-form-group>
    <label translate>Data type</label>
    <div class="c8y-select-wrapper">
      <select class="form-control" formControlName="timelineType">
        <option
          *ngFor="let type of ALARM_EVENT_TIMELINE_TYPES"
          [ngValue]="type.value"
        >
          {{ type.label | translate }}
        </option>
      </select>
    </div>
  </c8y-form-group>
</div>
