<div [formGroup]="formGroup">
  <c8y-form-group>
    <label translate>Label</label>
    <input
      class="form-control"
      name="label"
      formControlName="label"
      [placeholder]="
        'e.g. {{ example }}' | translate : { example: 'c8y_LocationUpdate' }
      "
    />
  </c8y-form-group>

  <div formGroupName="filters">
    <c8y-form-group>
      <label translate>Type</label>
      <input
        class="form-control"
        name="type"
        formControlName="type"
        [placeholder]="
          'e.g. {{ example }}' | translate : { example: 'c8y_LocationUpdate' }
        "
      />
    </c8y-form-group>
  </div>
</div>
