<c8y-li
  class="c8y-list__item__collapse--container-small"
  [formGroup]="formGroup"
  #li
>
  <c8y-li-drag-handle
    ><ng-content select="c8y-li-drag-handle"></ng-content
  ></c8y-li-drag-handle>
  <c8y-li-icon *ngIf="showAddRemoveButton" class="a-s-center p-r-4">
    <button
      *ngIf="isSelected"
      class="btn btn-clean text-primary"
      (click)="addOrRemoveItem()"
      [title]="'Remove' | translate"
    >
      <i c8yIcon="minus-circle" class="text-danger"></i>
    </button>
    <button
      *ngIf="!isSelected"
      class="btn btn-clean text-primary"
      (click)="addOrRemoveItem()"
      [title]="'Select' | translate"
      [disabled]="(valid$ | async) === false"
    >
      <i c8yIcon="plus-circle" class="text-primary"></i>
    </button>
  </c8y-li-icon>

  <c8y-li-checkbox
    *ngIf="showActiveToggle"
    [displayAsSwitch]="true"
    formControlName="__active"
    (click)="$event.stopPropagation()"
    class="a-s-center p-r-0"
  ></c8y-li-checkbox>

  <div class="d-flex a-i-center p-l-4">
    <div
      class="c8y-list__item__colorpicker p-t-0 p-b-0 p-l-0"
      [title]="colorPickerTitle | translate"
    >
      <div
        class="c8y-colorpicker"
        [ngClass]="{
          'c8y-colorpicker--alarm': timelineType === 'ALARM',
          'c8y-colorpicker--event': timelineType === 'EVENT'
        }"
      >
        <input
          type="color"
          formControlName="color"
          (click)="$event.stopPropagation()"
          [ngStyle]="{ 'pointer-events': allowItemEdit ? 'auto' : 'none' }"
        />
        <span
          class="circle-icon-wrapper"
          style="background-color: {{ formGroup.value.color }}; padding-top: {{
            timelineType === 'EVENT' ? '3px' : '0'
          }};"
        >
          <i
            [c8yIcon]="timelineType === 'EVENT' ? 'c8y-events' : 'bell'"
            class="icon-stroked"
          ></i>
        </span>
      </div>
    </div>
    <button
      class="btn-clean text-truncate"
      [title]="formGroup.value.details?.label"
      (click)="li.collapsed = !li.collapsed"
    >
      <span class="text-truncate">
        <c8y-highlight
          [text]="formGroup.value.details?.label"
          [pattern]="highlightText"
          [shouldTrimPattern]="true"
        ></c8y-highlight>
      </span>
      <small
        class="text-truncate text-muted icon-flex"
        *ngIf="formGroup.value.__target"
      >
        <i c8yIcon="exchange"></i>
        <span class="text-truncate">{{ formGroup.value.__target.name }}</span>
      </small>
    </button>

    <button
      title="{{ 'Invalid entries' | translate }}"
      class="btn-clean m-l-auto"
      *ngIf="(valid$ | async) === false && li.collapsed"
      [popover]="
        'Some entries are invalid. Check the input fields with red borders.'
          | translate
      "
      container="body"
      [outsideClick]="true"
    >
      <i class="text-danger" c8yIcon="exclamation-circle"></i>
    </button>
  </div>

  <c8y-li-action
    *ngIf="optionToRemove"
    [icon]="'minus-circle'"
    [label]="'Remove from list' | translate"
    (click)="remove()"
  ></c8y-li-action>
  <c8y-li-collapse *ngIf="allowItemEdit">
    <div class="data-point-details">
      <c8y-alarm-event-attributes-form
        formControlName="details"
        [timelineType]="timelineType"
      ></c8y-alarm-event-attributes-form>
    </div>
  </c8y-li-collapse>
</c8y-li>
