<div [formGroup]="formGroup">
  <c8y-form-group>
    <label>{{ 'Label' | translate }}</label>
    <input
      class="form-control flex-grow"
      name="label"
      formControlName="label"
      [placeholder]="
        'e.g. {{ example }}'
          | translate
            : {
                example:
                  timelineType === 'ALARM'
                    ? 'Alarm unavailable'
                    : 'Location update'
              }
      "
    />
  </c8y-form-group>

  <div formGroupName="filters">
    <c8y-form-group>
      <label>{{ 'Type' | translate }}</label>
      <input
        class="form-control flex-grow"
        name="type"
        formControlName="type"
        [placeholder]="
          'e.g. {{ example }}'
            | translate
              : {
                  example:
                    timelineType === 'ALARM'
                      ? 'c8y_UnavailabilityAlarm'
                      : 'c8y_LocationUpdate'
                }
        "
      />
    </c8y-form-group>
  </div>
</div>
