<div
  class="d-grid grid__row--1 fit-h"
  [ngClass]="{
    'grid__col--3-6-3--md': allowChangingContext,
    'grid__col--8-4--md': !allowChangingContext
  }"
>
  <div
    class="d-flex d-col p-relative bg-gray-white"
    *ngIf="allowChangingContext"
  >
    <c8y-asset-selector-miller
      [(ngModel)]="contextAsset"
      [asset]="contextAsset"
      (onSelected)="assetSelectionChanged($event)"
      [container]="''"
      [config]="{
        view: 'miller',
        groupsSelectable: true,
        columnHeaders: true,
        showChildDevices: true,
        showUnassignedDevices: true,
        singleColumn: true,
        search: allowSearch,
        showFilter: true
      }"
      class="d-contents"
    ></c8y-asset-selector-miller>
  </div>
  <!-- center column -->
  <div class="inner-scroll bg-component">
    <ng-template #noDeviceEmptyState>
      <div class="p-16">
        <div class="c8y-empty-state text-left">
          <div class="c8y-icon c8y-icon-data-points c8y-icon-duocolor"></div>
          <div>
            <p>
              <strong>{{
                timelineTypeTexts.emptyStateTitle | translate
              }}</strong>
            </p>
            <small>{{ 'Select an asset from the list.' | translate }}</small>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #loadingData>
      <div class="p-16 text-center">
        <c8y-loading></c8y-loading>
      </div>
    </ng-template>

    <div
      *ngIf="assetSelection | async as asset; else noDeviceEmptyState"
      class="bg-inherit"
    >
      <div
        class="p-l-16 p-r-16 p-t-8 p-b-8 sticky-top bg-inherit separator-bottom"
      >
        <p
          class="text-medium text-truncate"
          [title]="timelineTypeTexts.availableItemsTitle | translate"
        >
          {{ timelineTypeTexts.availableItemsTitle | translate }}
        </p>
        <div class="d-flex">
          <div
            *ngIf="!loadingItems"
            id="search"
            class="input-group input-group-search m-t-4"
          >
            <input
              type="search"
              class="form-control"
              placeholder="Filter…"
              [ngModel]="filterString"
              (ngModelChange)="filterStringChanged($event)"
            />
            <span class="input-group-addon">
              <i
                c8yIcon="search"
                *ngIf="!filterString; else clearFilterString"
              ></i>
              <ng-template #clearFilterString>
                <i
                  c8yIcon="times"
                  class="text-muted"
                  *ngIf="filterString"
                  (click)="filterStringChanged()"
                ></i>
              </ng-template>
            </span>
          </div>
        </div>
      </div>

      <ng-container
        *ngIf="filteredItems$ | async as filteredItems; else loadingData"
      >
        <ng-container *ngIf="!loadingItems; else loadingData">
          <ng-container *ngIf="items$ | async as items">
            <div class="p-16 bg-level-2 bg-gray-white separator-bottom">
              <div *ngIf="items.length">
                <p>
                  <i c8yIcon="info-circle" class="text-info m-r-4"></i>
                  <strong>{{
                    timelineTypeTexts.recentItemsWarningTitle | translate
                  }}</strong>
                </p>
                <p>
                  {{ timelineTypeTexts.recentItemsWarningText | translate }}
                  {{ timelineTypeTexts.addCustomText | translate }}
                </p>
              </div>
              <div [ngClass]="{ 'p-t-16': items.length }">
                <button
                  class="btn btn-default btn-sm"
                  aria-controls="collapseCustomItemForm"
                  [attr.aria-expanded]="isExpanded"
                  (click)="isExpanded = !isExpanded"
                >
                  {{ timelineTypeTexts.addCustomItemButtonLabel | translate }}
                </button>
                <div
                  class="collapse"
                  id="collapseCustomItemForm"
                  [collapse]="!isExpanded"
                  [isAnimated]="true"
                >
                  <div [style.min-height]="'230px'">
                    <c8y-custom-alarm-event-form
                      *ngIf="isExpanded"
                      [timelineType]="timelineType"
                      [target]="assetSelection | async"
                      (added)="itemAdded($event); isExpanded = false"
                      (cancel)="isExpanded = false"
                      class="d-block separator-top"
                    ></c8y-custom-alarm-event-form>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-16" *ngIf="!filteredItems.length">
              <c8y-ui-empty-state
                [icon]="timelineTypeTexts.emptyStateIcon"
                [title]="timelineTypeTexts.emptyStateTitle | translate"
                [subtitle]="
                  items.length
                    ? ('Try another filter term.' | translate)
                    : (timelineTypeTexts.assetWithNoItemsEmptyStateSubtitle
                      | translate)
                "
                [horizontal]="true"
              ></c8y-ui-empty-state>
            </div>

            <c8y-list-group>
              <c8y-list-item
                *ngIf="
                  items.length > maxNumberOfItems &&
                  filteredItems.length >= maxNumberOfItems
                "
                class="sticky-top"
                style="top: 72px"
                translate
              >
                <div class="alert alert-warning m-b-0">
                  {{ timelineTypeTexts.largeNumberOfItemsInfo | translate }}
                </div>
              </c8y-list-item>
              <c8y-alarm-event-selector-list-item
                [ngModel]="item"
                [isSelected]="selectedItems | includesAlarmOrEvent: item"
                (added)="itemAdded($event)"
                (removed)="itemRemoved($event)"
                [highlightText]="filterStringChanges$ | async"
                [timelineType]="timelineType"
                class="d-contents"
                *ngFor="let item of filteredItems; trackBy: trackByFn"
              ></c8y-alarm-event-selector-list-item>
            </c8y-list-group>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- last column  -->
  <div class="inner-scroll bg-gray-white">
    <p
      class="text-medium m-b-4 p-l-16 p-r-16 p-t-8 p-b-8 separator-bottom sticky-top text-truncate"
      [title]="timelineTypeTexts.selectedItemsTitle | translate"
    >
      {{ timelineTypeTexts.selectedItemsTitle | translate }}
    </p>
    <div class="d-flex flex-wrap gap-8 p-l-16 p-r-16 p-b-16">
      <div
        [ngClass]="{
          'c8y-alarm-pill': timelineType === 'ALARM',
          'c8y-event-pill': timelineType === 'EVENT'
        }"
        *ngFor="let selectedItem of selectedItems"
      >
        <button
          [title]="'Remove' | translate"
          type="button"
          [ngClass]="{
            'c8y-alarm-pill__btn': timelineType === 'ALARM',
            'c8y-event-pill__btn': timelineType === 'EVENT'
          }"
          (click)="itemRemoved(selectedItem)"
        >
          <i c8yIcon="remove" class="icon-14"></i>
        </button>
        <div
          [ngClass]="{
            'c8y-alarm-pill__label': timelineType === 'ALARM',
            'c8y-event-pill__label': timelineType === 'EVENT'
          }"
          [title]="selectedItem.label"
        >
          <span
            class="circle-icon-wrapper circle-icon-wrapper--small m-r-4"
            [ngStyle]="{
              'background-color': selectedItem.color,
              'padding-top': timelineType === 'EVENT' ? '3px' : '0'
            }"
          >
            <i
              [c8yIcon]="timelineType === 'ALARM' ? 'bell' : 'c8y-events'"
              class="stroked-icon"
            ></i>
          </span>
          <span class="text-truncate">
            <span class="text-truncate">{{ selectedItem.label }}</span>
            <small
              class="text-muted text-10"
              *ngIf="selectedItem?.__target?.name"
            >
              {{ selectedItem?.__target?.name }}
            </small>
          </span>
        </div>
      </div>
    </div>
    <div class="p-16" *ngIf="!selectedItems || !selectedItems.length">
      <div class="c8y-empty-state text-left">
        <div class="c8y-icon c8y-icon-data-points c8y-icon-duocolor"></div>
        <p>
          <strong>{{
            timelineTypeTexts.noSelectedItemsTitle | translate
          }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>
