<div class="modal-header separator">
  <h4 class="text-medium">{{ title | translate }}</h4>
</div>
<div class="modal-inner-scroll modal-inner-scroll--fixed">
  <c8y-alarm-event-selector
    [selectedItems]="selectedItems"
    [contextAsset]="contextAsset"
    [selectType]="selectType"
    (selectionChange)="selectionChange($event)"
  ></c8y-alarm-event-selector>
</div>
<div class="modal-footer">
  <button
    type="button"
    [title]="'Cancel' | translate"
    class="btn btn-default"
    (click)="close()"
    translate
  >
    Cancel
  </button>
  <button
    [title]="saveButtonLabel | translate"
    class="btn btn-primary"
    [disabled]="!this.selectedItems?.length"
    (click)="saveChanges()"
  >
    {{ saveButtonLabel | translate }}
  </button>
</div>
