<div class="row no-card-context d-flex">
  <div class="col-md-5 bg-level-1 conf-col inner-scroll">
    <div class="p-l-24">
      <div class="form-group p-t-8">
        <div class="d-flex a-i-center">
          <label translate class="m-b-0">Date selection</label>
          <button
            class="btn-help btn-help--sm"
            [attr.aria-label]="'Help' | translate"
            [popover]="dateSelectionHelpTemplate"
            [adaptivePosition]="false"
            placement="bottom"
            container="body"
            triggers="focus"
          ></button>
        </div>
        <div class="c8y-select-wrapper">
          <select
            class="form-control input-sm"
            [ngModel]="dateSelection"
            (ngModelChange)="dateSelectionChange($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option
              title="{{ 'Widget configuration' | translate }}"
              [value]="DATE_SELECTION.CONFIG"
            >
              {{ 'Widget configuration' | translate }}
            </option>
            <option
              title="{{ 'Widget and widget configuration' | translate }}"
              [value]="DATE_SELECTION.VIEW_AND_CONFIG"
            >
              {{ 'Widget and widget configuration' | translate }}
            </option>
            <option
              title="{{ 'Dashboard time range' | translate }}"
              [value]="DATE_SELECTION.DASHBOARD_CONTEXT"
            >
              {{ 'Dashboard time range' | translate }}
            </option>
          </select>
          <span></span>
        </div>
      </div>
      <form [formGroup]="formGroup">
        <label>{{ 'Display options' | translate }}</label>
        <fieldset class="c8y-fieldset m-b-24 m-t-0">
          <c8y-form-group class="p-b-16 m-b-0 p-t-8">
            <label
              [title]="'Aggregation selection' | translate"
              class="c8y-checkbox"
            >
              <input
                type="checkbox"
                formControlName="displayAggregationSelection"
                name="displayAggregationSelection"
              />
              <span></span>
              <span translate>Aggregation selection</span>
            </label>
            <label
              [title]="'Y axis helper lines' | translate"
              class="c8y-checkbox"
            >
              <input
                type="checkbox"
                formControlName="yAxisSplitLines"
                name="yAxisSplitLines"
              />
              <span></span>
              <span translate>Y axis helper lines</span>
            </label>
            <label
              [title]="'X axis helper lines' | translate"
              class="c8y-checkbox"
            >
              <input
                type="checkbox"
                formControlName="xAxisSplitLines"
                name="xAxisSplitLines"
              />
              <span></span>
              <span translate>X axis helper lines</span>
            </label>
            <label
              [title]="'Display vertical line' | translate"
              class="c8y-checkbox"
            >
              <input
                type="checkbox"
                formControlName="displayMarkedLine"
                name="displayMarkedLine"
              />
              <span></span>
              <span translate>Show vertical line when alarm occurs</span>
            </label>
            <label [title]="'Display icons' | translate" class="c8y-checkbox">
              <input
                type="checkbox"
                formControlName="displayMarkedPoint"
                name="displayMarkedPoint"
              />
              <span></span>
              <span translate>Show icon when alarm occurs</span>
              <button
                *ngIf="alarmsOrEventsHaveNoMatchingDps"
                [tooltip]="
                  'Some alarms or events have no matching data points. No icons will be shown for them.'
                    | translate
                "
                container="body"
                (click)="$event.stopPropagation()"
                [adaptivePosition]="false"
                class="btn-clean m-l-8"
              >
                <i c8yIcon="exclamation-triangle" class="text-warning"></i>
              </button>
            </label>
          </c8y-form-group>
        </fieldset>

        <c8y-datapoint-selection-list
          [minActiveCount]="1"
          [defaultFormOptions]="datapointSelectDefaultFormOptions"
          [config]="datapointSelectionConfig"
          formControlName="datapoints"
          name="datapoints"
          class="bg-level-1 separator-bottom d-block"
        ></c8y-datapoint-selection-list>

        <c8y-alarm-event-selection-list
          formControlName="alarms"
          name="alarms"
          class="bg-level-1 separator-bottom d-block"
          [timelineType]="'ALARM'"
        ></c8y-alarm-event-selection-list>

        <c8y-alarm-event-selection-list
          formControlName="events"
          name="events"
          class="bg-inherit"
          [timelineType]="'EVENT'"
        ></c8y-alarm-event-selection-list>
      </form>
    </div>
  </div>

  <div class="col-md-7 sticky-top p-t-8">
    <div class="p-r-24">
      <label>{{ 'Options' | translate }}</label>
      <c8y-time-controls
        *ngIf="!config?.widgetInstanceGlobalTimeContext"
        [config]="formGroup.value"
        (configTimePropsChange)="timePropsChanged($event)"
        class="d-flex gap-4"
      ></c8y-time-controls>
      <c8y-charts
        *ngIf="activeDatapointsExists"
        [config]="config"
        [alerts]="alerts"
        class="d-block p-relative overflow-hidden"
        style="--chart-spacer: 0px; height: calc(100vh - 500px)"
        (timeRangeChangeOnRealtime)="updateTimeRangeOnRealtime($event)"
      ></c8y-charts>

      <c8y-ui-empty-state
        *ngIf="!activeDatapointsExists"
        [icon]="'search'"
        [title]="'No data points selected' | translate"
        [subtitle]="'Select data point to render chart' | translate"
        class="d-block m-t-24"
      ></c8y-ui-empty-state>
    </div>
  </div>
</div>
<ng-template #dateSelectionHelpTemplate>
  <div [innerHTML]="dateSelectionHelp"></div>
</ng-template>
