<div class="card-header separator sticky-top bg-inherit">
  <span class="card-title h4">{{
    timelineTypeTexts.listTitle | translate
  }}</span>
</div>

<c8y-list-group
  class="flex-grow ff-scroll-fix cdk-droplist"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  [cdkDropListDisabled]="formArray.controls?.length < 2"
>
  <div class="p-t-8" *ngIf="!formArray.controls?.length">
    <c8y-ui-empty-state
      [icon]="timelineTypeTexts.emptyStateIcon"
      [title]="timelineTypeTexts.emptyStateTitle | translate"
      [subtitle]="timelineTypeTexts.emptyStateSubtitle | translate"
      [horizontal]="true"
      class="p-t-8"
    ></c8y-ui-empty-state>
  </div>
  <div
    *ngFor="let itemForm of formArray.controls; let index = index"
    [formGroup]="itemForm"
  >
    <c8y-alarm-event-selector-list-item
      class="d-block"
      cdkDrag
      formControlName="details"
      [showAddRemoveButton]="false"
      [optionToRemove]="true"
      [showActiveToggle]="true"
      [timelineType]="timelineType"
      [showAttributesForm]="true"
      (removed)="onItemRemoved(index)"
    >
      <c8y-li-drag-handle
        cdkDragHandle
        title="{{ 'Click and drag to reorder' | translate }}"
      >
        <i c8yIcon="drag-reorder"></i>
      </c8y-li-drag-handle>
    </c8y-alarm-event-selector-list-item>
  </div>
</c8y-list-group>

<div class="card-footer bg-inherit">
  <button
    [title]="timelineTypeTexts.addButtonLabel | translate"
    type="button"
    class="btn btn-default btn-sm"
    (click)="add()"
  >
    <i c8yIcon="plus-circle"></i>
    {{ timelineTypeTexts.addButtonLabel | translate }}
  </button>
</div>
