name: Release
on:
  push:
    branches:
      - main
      - next
      - beta
      - '*.x'
      - '*.*.x'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Linting
        run: npm run lint

      - name: Build
        run: npm run build:ci

      - name: Zip build
        run: |
          cd dist/apps/sag-pkg-community-widgets
          zip -r -q ../../build.zip *
          cd ../../..
          rm -r dist/apps

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          if-no-files-found: error
          retention-days: 5
          path: |
            dist/build.zip

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    timeout-minutes: 8
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm ci

      - name: Download build
        uses: actions/download-artifact@v3
        with:
          name: build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
